<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="./bundle.js"></script>
</head>


<body>
<h1><%= title %></h1>
<form method="get" action="/checkStudent" >
    要添加的学生信息: <input type="text" name="stuinfo" id="stuInfo"><br/>
    <%- printinfo %>
    <input type="submit" id="Submit" value="确认添加" disabled=true/>
</form>
</body>
</html>
