<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="./bundle2.js"></script>
</head>
<body>
<h1><%= title %></h1>
<form method="get" action="/checkNumber">
    要打印的学生学号: <input type="text" name="stunumber" id="stuNumber"><br/>
    <%- printinfo %>
    <input type="submit" value="打印" id="Submit" disabled=true/>
</form>
</body>
</html>